In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression

In [2]:
spark = SparkSession.builder.appName("NYC_Taxi_Analysis").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/04 20:37:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = spark.read.parquet("NYC/*.parquet")

In [15]:
data.columns, len(data.columns)

(['VendorID',
  'tpep_pickup_datetime',
  'tpep_dropoff_datetime',
  'passenger_count',
  'trip_distance',
  'RatecodeID',
  'store_and_fwd_flag',
  'PULocationID',
  'DOLocationID',
  'payment_type',
  'fare_amount',
  'extra',
  'mta_tax',
  'tip_amount',
  'tolls_amount',
  'improvement_surcharge',
  'total_amount',
  'congestion_surcharge',
  'airport_fee'],
 19)

# Start spark session

In [27]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("NYC_Taxi_Analysis").getOrCreate()

# Load Data

In [28]:
parquet_file_path = "./NYC/*.parquet"
taxi_df = spark.read.parquet(parquet_file_path)

# Trip Analysis

## Calculate Duration and Distance:
Create a new column for trip duration and calculate it using the difference between pickup and dropoff times. Also, calculate the average distance for each record:

In [29]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

taxi_df = taxi_df.withColumn("trip_duration", F.unix_timestamp("tpep_dropoff_datetime") - F.unix_timestamp("tpep_pickup_datetime"))

In [30]:
taxi_df = taxi_df.withColumn("avg_distance", (F.col("trip_distance") / F.col("passenger_count")))

## Extract Time of Day, Day of Week, and Month of Year:
- Extract the desired time components from the tpep_pickup_datetime column

In [31]:
taxi_df = taxi_df.withColumn("pickup_hour", F.hour("tpep_pickup_datetime"))

In [32]:
taxi_df = taxi_df.withColumn("pickup_day_of_week", F.dayofweek("tpep_pickup_datetime"))

In [33]:
taxi_df = taxi_df.withColumn("pickup_month", F.month("tpep_pickup_datetime"))

## Group and Aggregate:
Group the data by time of day, day of week, and month of year, and calculate the average duration and distance for each group:

In [34]:
agg_df = taxi_df.groupBy("pickup_hour", "pickup_day_of_week", "pickup_month").agg(
    F.avg("trip_duration").alias("avg_duration"),
    F.avg("avg_distance").alias("avg_distance")
).orderBy("pickup_hour", "pickup_day_of_week", "pickup_month")

## Show the Results:
Show the aggregated results:

In [35]:
agg_df.show()

+-----------+------------------+------------+------------------+------------------+
|pickup_hour|pickup_day_of_week|pickup_month|      avg_duration|      avg_distance|
+-----------+------------------+------------+------------------+------------------+
|          0|                 1|           1| 888.9417608770127|3.2521391261294736|
|          0|                 1|           2| 726.9726522187823|  2.89541996285979|
|          0|                 1|           3| 888.4640534063677|2.8471578638497625|
|          0|                 1|           4| 854.6067429406037|2.9782131248083417|
|          0|                 1|           5| 883.9497659700705|2.8323654661521616|
|          0|                 1|           6| 954.6639178045153| 2.721734596752614|
|          0|                 1|           7|1011.6342042755344| 2.835302943232113|
|          0|                 1|           8| 997.7019489609131|2.8669667749237213|
|          0|                 1|           9|1057.5752172184677|2.5259332031492243|
|          0|                 1|          10| 983.6769738118331|2.4983152044322683|
|          0|                 1|          11| 935.9346515215258| 2.539192359159652|
|          0|                 1|          12| 972.2170118615943| 3.150238748796069|
|          0|                 2|           1| 915.7601380500431| 4.946866130558188|
|          0|                 2|           2|1105.8451242829829| 4.494771421675113|
|          0|                 2|           3|  820.387349953832| 5.216901033850259|
|          0|                 2|           4| 960.7860179499291| 5.048313027017737|
|          0|                 2|           5| 951.8014098690836| 4.508350586080599|
|          0|                 2|           6| 971.4392452830189| 4.867711624592842|
|          0|                 2|           7| 990.5213815789474|4.3910269512339335|
|          0|                 2|           8|1029.8973904639174| 5.536793713681965|
+-----------+------------------+------------+------------------+------------------+
only showing top 20 rows

## Group and Count Pickup Locations:

In [37]:
pickup_locations = taxi_df.groupBy("PULocationID").count().orderBy(F.desc("count"))
top_pickup_locations = pickup_locations.limit(10)

In [ ]:
dropoff_locations = taxi_df.groupBy("DOLocationID").count().orderBy(F.desc("count"))
top_dropoff_locations = dropoff_locations.limit(10)